{% extends 'base.html.twig' %}
{% block title %}Strona główna :: {{ pagetitle|default('Logowanie') }} {% endblock %}
{% block body %}


    <div class="container">
        {{ render(controller("FOSUserBundle:Security:login")) }}  
    </div>


{% endblock %}


