{% extends 'base.html.twig' %}
{% block title %}CRM SERWISOWY | {{ pagetitle|default('Strona Główna') }} {% endblock %}
{% block body %}


    <div class="container">
        <h2>CRM SERWISOWY</h2>
    </div>


{% endblock %}


