{% extends 'base.html.twig' %}
{% block title %}STREFA KLIENTA | {{ pagetitle|default('Strona Główna') }} {% endblock %}
{% block body %}


    <div class="container">
        <h2>STREFA KLIENTA</h2>
    </div>


{% endblock %}


